@font-face {
    font-family: 'weblysleek_uilight';
    src: url('weblysleekuil-webfont.eot');
    src: url('weblysleekuil-webfont.eot?#iefix') format('embedded-opentype'),
         url('weblysleekuil-webfont.woff') format('woff'),
         url('weblysleekuil-webfont.ttf') format('truetype'),
         url('weblysleekuil-webfont.svg#weblysleek_uilight') format('svg');
    font-weight: normal;
    font-style: normal;
}

{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

.alignright {
	float: right; 
	padding: 0 0 10px 10px;
}

.alignleft {
	float: left; 
	padding: 0 10px 10px 0;
}

/******************************************
/* BASE STYLES                   
/*******************************************/

body {
  margin: 0;
  color: #000;
  font-size: 12px;
  line-height: 1.5;
  font-family: Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

h1 {
  margin: 0;
  font-size: 18px;
  color: #4fa319; 
}

#nav {

}

#banner {
  background: url('../images/HealthyEatsBanner.png') no-repeat;
  width: 481px;
  height: 64px;
  margin: 30px 0px 30px 0px;
  display: inline-block;

  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

#features {

}
/******************************************
/* LAYOUT                   
/*******************************************/

header {

}

footer {

}

/******************************************
/* ADDITIONAL STYLES                   
/*******************************************/


.border{
  border:1px solid black;
  display:block;
}

