{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

.alignright {
	float: right; 
	padding: 0 0 10px 10px;
}

.alignleft {
	float: left; 
	padding: 0 10px 10px 0;
}

/******************************************
/* BASE STYLES                   
/*******************************************/

body {
  margin: 0;
  color: #000;
  font-size: 12px;
  line-height: 1.5;
  font-family: Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

h1 {
  margin: 0;
  font-size: 18px;
  color: #4fa319; 
}

#nav {

}

#banner {

}

#features {

}
/******************************************
/* LAYOUT                   
/*******************************************/

header {

}

footer {

}

/******************************************
/* ADDITIONAL STYLES                   
/*******************************************/


.border{
  border:1px solid black;
  display:block;
}

